.title-project {
  padding-top: 100px;
  text-align: center;
}

.project-site {
  height: 310px ;
}

.project-mobile {
  height: 550px;
}

.from-left {
  transform: translateX(-80%)
}

.from-right {
  transform: translateX(80%)
}

.from-left,
.from-right {
  transition: transform 400ms ease-in;
}

.from-left.appear,
.from-right.appear {
  transition: transform 400ms ease-in;
  transform: translateX(0);
}

.mobile-div {
  width: 225px;
  height: 450px;
  border-radius: 5px;
  transform-origin: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: #F4F4F4;
  display: flex;
  justify-content:center;
  align-items:center;
}

.writing-div {
  width: 400px;
  border-radius: 5px;
  transform-origin: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content:center;
  background-color: #F4F4F4;
}

.actual-writing {
  padding: 30px 10px;
}
