.title-project {
  padding-top: 100px;
  text-align: center;
}

.project-site {
  height: 280px ;
}

.project-mobile {
  height: 420px;
}

.from-left {
  transform: translateX(-50%)
}

.from-right {
  transform: translateX(50%)
}

.from-left,
.from-right {
  transition: transform 400ms ease-in;
}

.from-left.appear,
.from-right.appear {
  transition: transform 400ms ease-in;
  transform: translateX(0);
}
