<nav role="navigation" class="primary-navigation fixed-top pt-4">
  <ul class="nav-bar-list">
    <li class="active"><%= link_to "Home", root_path, class: "nav-link" %></li>
    <li class="li-w-line"><%= link_to "Projects", root_path(anchor: 'projects'), class: "nav-link" %></li>
    <li class="li-w-line"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
  </ul>
</nav>
