<nav role="navigation" class="primary-navigation fixed-top pt-4">
  <ul class="nav-bar-list">
    <li class="active"><%= link_to "Home", root_path, class: "nav-link" %></li>
    <li class="li-w-line"><a href="#projects" class="nav-link">Projects</a></li>
    <li class="li-w-line"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
  </ul>
</nav>
