<div class="text-center pt-4 banner">
  <div class="row m-4">
    <div class="col left-banner">
      <div class="banner-description">
      <h1 class="title">Dust The Developer.</h1>
      <br>
      <p>Hello, my name is Dustin and I'm a full-stack web-developer from San Diego, CA.</p>
      </div>
    </div>
    <div class="col right-banner">
      <%= image_tag("gorickyourself.png", class: "rick") %>
    </div>
  </div>
</div>
<div class="container pt-4">
  <div class="skill-ball"></div>
</div>
