<div class="text-center pt-4 banner">
  <div class="row m-4">
    <div class="col left-banner">
      <h1 class="title">Web Developer - Traveler - Skater - Human</h1>
    </div>
    <div class="col right-banner">
      <%= image_tag("gorickyourself.png", class: "rick") %>
    </div>
  </div>
</div>
